<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LollySwiftShared-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LollySwiftShared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>953473B11A0D16B000FF2D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953473BC1A0D16B000FF2D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95560D781A0E66EB00BB7322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95560D821A0E66EC00BB7322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
